In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
data=np.random.randint(1,100,200)

In [3]:
data

array([75, 29, 95, 79, 70, 40, 14,  6, 89, 95,  8,  4, 58,  9, 39, 16, 26,
       25, 31, 78, 98, 33,  5, 98, 20, 64, 27, 72, 85, 71, 74, 54, 55, 39,
        5, 98, 66, 48, 78, 33, 94, 97, 23, 37,  9, 48, 40, 88, 76, 25, 88,
       62, 29, 34, 80, 81, 48, 61, 64, 39, 78, 84, 36, 96, 10, 36, 74, 85,
       34, 82, 14, 30, 14, 79, 97, 77, 71, 28, 26,  1, 98, 67, 58, 34, 46,
       57, 99, 43, 98, 88,  5,  5, 72, 63, 29, 53, 62, 77, 47, 80, 96, 79,
       22, 27, 93, 38, 45, 75, 19, 94, 92, 61, 29, 17, 63, 36, 30, 94, 83,
       47,  4, 23, 38, 80, 39, 99, 67,  2, 41, 20, 53, 45, 90,  1, 85, 18,
       79, 64, 75, 89,  1, 65, 93, 27,  7, 25, 31, 92, 30, 50, 49, 10,  2,
       45, 87, 73, 68, 35, 14, 15, 30, 21, 80,  9, 89, 50, 16, 61, 22, 85,
       87, 44, 42, 63, 74, 53, 24, 92, 49, 25, 67, 22, 17, 47, 58, 64, 78,
       44, 92, 44, 26,  5,  4, 75, 95, 10, 79, 34,  6, 49])

In [4]:
data=pd.DataFrame(data)
data

      0
0    75
1    29
2    95
3    79
4    70
..   ..
195  10
196  79
197  34
198   6
199  49

[200 rows x 1 columns]

In [5]:
data.to_csv("../tcdata/num_list.csv",index=False,header=False)

In [6]:
data=pd.read_csv("../tcdata/num_list.csv",header=None)
data

      0
0    75
1    29
2    95
3    79
4    70
..   ..
195  10
196  79
197  34
198   6
199  49

[200 rows x 1 columns]

In [7]:
#第一题
result_1="Hello world"

In [8]:
#第二题
result_2=0
for i,num in enumerate(data[0]):
    result_2+=num

In [9]:
#第三题
data.sort_values(by=0,ascending=False,inplace=True)

In [10]:
data

      0
125  99
86   99
35   98
80   98
88   98
..   ..
152   2
127   2
133   1
140   1
79    1

[200 rows x 1 columns]

In [12]:
result_3=data[0][:10]

In [15]:
result_3

125    99
86     99
35     98
80     98
88     98
23     98
20     98
41     97
74     97
100    96
Name: 0, dtype: int64

In [16]:
result_3=list(result_3)

In [17]:
result_3

[99, 99, 98, 98, 98, 98, 98, 97, 97, 96]

In [18]:
result={"Q1":result_1,
        "Q2":result_2,
        "Q3":result_3
       }

In [19]:
with open('result.json', 'w', encoding='utf-8') as f:
    json.dump(result, f)